body {
	background-image: url("../images/oceanPattern3.png");
	background-attachment: fixed;
}

.container {
	top: 100px;
	left: 100px;
    width: 1250px;
    position: relative;
}

#gameBoardContainer {
	height: 650px;
	
}

#gameBoardContainer > canvas {
	overflow: auto;
	position: absolute;
	z-index: 1;
}

#gameBoardContainer > img {
	position: absolute;
	z-index: 100;
}

.animate-show-hide.ng-hide {
  opacity: 0;
}

.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove {
  transition: all linear 0.5s;
}

.fade {
	opacity: 1;
}