body {
	background-image: url("../images/oceanPattern3.png");
	background-attachment: fixed;
}

.container {
    width: 1250px;
}

#gameBoardContainer {
	height: 650px;
	position: relative;
}

div > canvas {
	position: absolute;
}

.animate-show-hide.ng-hide {
  opacity: 0;
}

.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove {
  transition: all linear 0.5s;
}

.fade {
	opacity: 1;
}